@using Apex.Services.Extensions
@using Apex.Admin.Resources
@{
    ViewData["Title"] = "Log";
    ViewData["TitleSmall"] = "Version 2.4.0";

    ViewData["Breadcrumb"] = new BreadcrumbViewModel(new CrumbViewModel[] {
        new CrumbViewModel("Home", string.Empty, "fa-dashboard"),
        new CrumbViewModel("System", string.Empty, "fa-cog"),
        new CrumbViewModel("Log", Url.Action("index", "log"), "fa-database")
    });

    var current = DateTime.UtcNow;
}
@section styles {
    <link rel="stylesheet" href="~/styles/admin/plugins.min.css">
}
@section scripts {
    <script src="~/scripts/admin/plugins.min.js"></script>
    <script type="text/javascript">
        var resources = {
            level: "@LogText.Level",
            message: "@LogText.Message",
            logger: "@LogText.Logger",
            logged: "@LogText.Logged",
            callsite: "@LogText.Callsite",
            exception: "@LogText.Exception"
        };
    </script>
    <script src="~/scripts/admin/log.min.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <form class="form-horizontal" action="javascript:;" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fromDate" class="col-md-4 control-label">@CommonText.FromDate</label>
                                <div class="col-md-8">
                                    <div class="input-group input-group-sm date">
                                        <input type="text" class="form-control" id="fromDate" value="@current.AddDays(-7).ToDateString()" />
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="toDate" class="col-md-4 control-label">@CommonText.ToDate</label>
                                <div class="col-md-8">
                                    <div class="input-group input-group-sm date">
                                        <input type="text" class="form-control" id="toDate" value="@current.ToDateString()" />
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="level" class="col-md-4 control-label">@LogText.Level</label>
                                <div class="col-md-8">
                                    <select class="form-control input-sm"
                                            id="level" asp-items="@(ViewData["LogLevels"])"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <button type="button" class="btn btn-sm btn-flat btn-primary" id="btnSearch">@CommonText.Search</button>
                                    <button type="button" class="btn btn-sm btn-flat btn-danger" data-toggle="modal" data-target="#modal-delete-selected">@CommonText.DeleteSelected</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <table id="logTable" class="table table-hover" width="100%">
                </table>
            </div>
            <div class="box-footer">
                @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/_ModalConfirm.cshtml"); }
            </div>
        </div>
    </div>
</div>